@import url(http://fonts.googleapis.com/css?family=Lato);

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;

     margin: 0; padding: 0;
}

body  {
    font : 'Lato', sans-serif;
}

/*-----------------
	The Header
------------------*/

header {
    position : fixed;
    top : 0;
    left: 0;
    right : 0;

    height : 100px;
    z-index : 100;

    background-color : #2F055F;
    padding : 20px 40px;
    color : #fff;
    box-shadow: 0px 3px 2px rgba(0, 0, 0, 0.1)
}

header a {
    color : #ffffff;
    text-decoration: none;
    cursor: pointer;
}

header a:visited{
    color : #ffffff;
    text-decoration: none;
    cursor: pointer;
}

header h2.brand {
    margin: auto;
    float : left;
    opacity : 0.8;
}

header h2.brand:hover {
    opacity : 1;
}

header h2.brand a{
    font-size : 13px;
    text-transform :uppercase;
    display:inline-block;
    padding:15px 18px;
    border-radius: 3px;
    background-color: #7931CA
}

header ul.ul_content {
    padding: 10px 30px;
    display: flex;
    justify-content: 0;
    list-style-type: none;
    font-size: 1.5em;
}

header li {
    padding-right:40px;
    cursor: pointer;
}

header ul.ul_content {
    padding: 10px 0 0 70px ;
    display: flex;
    list-style-type: none;
}

@media (max-width: 500px) {
    header {
        padding:20px 15px;
    }

    header h1{
        font-size : 24px;
        margin: 0;
    }
}
/*-----------------
	{Jumbotron}   {Body}
------------------*/

 .bg{
  background: url('/IPL/img/Group_team.jpg') no-repeat center center;  
  position: fixed;
  margin-top: 110px;
  width: 100%;
  height: 350px; /*same height as jumbotron */
  top:0;
  left:0;
  z-index: -1;
}

.maincontent h2{
    padding-left: 30%;
    padding-top: 20%;
    color:#ffffff;
    font-size: 50px;
}

@media (max-width: 800px) {
    .maincontent h2{
        font-size: 35px;
        padding-top: 35%;
        padding-left: 15%;
    }
}



.homologo > span {
    box-sizing : border-box;
    display : inline-block;
    transition:0.5s;
    position: static;

    text-align : center;
    font : normal 12px sans-serif;

    background-color :#eae0de;
    border : 1px solid #ffffff;
    border-radius: 4px;
    box-shadow : 1px 3px 1px rgba(0, 0, 0, 0.02);

    margin : 50px 10px 12px 0;
}

.homologo  img {
    display : block;
    text-align : center;
    box-shadow : 0 0 10px 8px #f3f3f3 inset;

    width : 180px;
    height: 180px;
    margin-bottom : 10px;
    padding : 15px 0;
    box-sizing : border-box;
}


marquee  {
    position: fixed;
    padding-top: 28%;
}

.caption1 { 
    position: absolute;
}
/*-----------------
	Team Display
------------------*/
.all-teams {
     padding:100px 8px 50px 8px;
}

.all-teams h3 {
    text-align: center;
    font-size: 50px;
}

.team-list > li {
    box-sizing : border-box;
    display : inline-block;
    position: relative;
    transition:0.2s;

    text-align : center;
    font : normal 12px sans-serif;

    background-color :#ffffff;
    border : 1px solid #bbaca9;
    border-radius: 3px;
    box-shadow : 1px 3px 1px rgba(0, 0, 0, 0.02);

    margin : 60px 8px 60px 10px;
    padding : 20px;
}

.team-list .team-photo {
    display : block;
    text-align : center;
    box-shadow : 0 0 20px 8px #f3f3f3 inset;

    width : 220px;
    height: 230px;
    margin-bottom : 20px;
    padding : 15px 0;
    box-sizing : border-box;
}

/*Growing picture*/
.team-photo{
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}

.team-photo img:hover {
  width: 220px;
  height: 168px;
}

.team-list h2 {
    display : block;
    font-size : 15px;
    white-space :nowrap;
    overflow : hidden;
    text-overflow : ellipsis;
    max-width : 260px;
    margin : 0 0 10px 0;
}

.team-list h2 a {
    text-decoration: none;
    color: #010101;
}

/* view team button */

.team-list button{
	border-radius: 2px;
	background-color: #bbaca9;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12);
	border: 0;
	color: #2F055F;
	font-weight: bold;
	font-size: 15px;
	cursor: pointer;

	width: 225px;
	height: 32px;
}

.team-list > li:hover .highlight{
	opacity: 1;
}

/* Making the list responsive */

@media (max-width: 800px){

	.team-photo{
		width: 280px;
	}

    .all-teams {
        padding: 0 0 0 60px;
    }

    .all-teams h3{
         margin : 120px 0px 0px 0px;
         text-align: center;
    }

    .team-list > li{ 
        margin : 100px 0px 40px 10px;
    }
}

/*-----------------
	PLAYER Display
------------------*/

.all-players {
     padding:100px 8px 50px 8px;
}

.all-players h3{
    text-align: center;
    font-size: 50px;
}

.player-list > li{
    box-sizing : border-box;
    display : inline-block;
    position: relative;
    transition:0.2s;

    text-align : center;
    font : normal 12px sans-serif;

    background-color : #ffffff;
    border : 1px solid #bbaca9;
    border-radius: 3px;
    box-shadow : 1px 3px 1px rgba(0, 0, 0, 0.02);

    margin : 60px 0px 40px 20px;
    padding : 20px;
}

.player-list .player-photo {
    display : block;
    text-align : center;
    box-shadow : 0 0 25px 8px #bbaca9 inset;

    width : 250px;
    height: 240px;
    margin-bottom : 20px;
    padding : 15px 0;
    box-sizing : border-box;
}

.player-list h2 {
    display : block;
    font-size : 15px;
    white-space :nowrap;
    overflow : hidden;
    text-overflow : ellipsis;
    max-width : 260px;
    margin : 0 0 10px 0;
}

.player-list h2 a {
    text-decoration: none;
    color:#010101;
}

/* view team button */

.player-list button{
	border-radius: 2px;
	background-color: #bbaca9;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12);
	border: 0;
	color:  #2F055F;
	font-weight: bold;
	font-size: 15px;
	cursor: pointer;

	width: 250px;
	height: 32px;
}

.player-list > li:hover{
	opacity: 1;
}

/* Making the list responsive */

@media (max-width: 800px){

	.player-list .team-photo{
		width: 180px;
	}

    .player-list {
        padding:0 0 0 60px;
    }

    .player-list h3{
        margin : 20px 0px 0px 0px;
        text-align: center;
    }

    .player-list > li{ 
        margin : 100px 0px 40px 10px;
    }
}

.teamDetails li{
   list-style-type: none; 

}

.spaceBar {
    display:block;
    width:600px;
    height:auto;
}

/*-----------------
	  MODEL VIEW
------------------*/

.modal-body > ul{
   list-style-type: none; 
   display : inline;
   text-align: center;
}

.modal-body > li{
        display : inline;
        list-style-type: none;
        text-align: center;
        padding:10px
}
.sDis {
     list-style-type: none;
     margin:10px 10px 0 200px;
}

.player {
    width : 60%;
    height: 100% !important;
}


/*-----------------
	  FOOTER
------------------*/

.footer {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #350280;
  text-align: center;

}